body{
    background-color:#F3F5FC;
    font-family: sans-serif;
}


 .logo{
    margin-left: 5%;
    margin-top: 2%;
 }

 main{
    display: flex;
    flex-direction: row;
    width: 100;
    justify-content: space-around;
    flex-wrap: wrap;
    
 }

 .entry{
    display: flex;
    flex-direction: column;
    height: 20%;

    
    
    
 }



.content
{
    display:flex;
    flex-direction: column;
}

.container{

    position: relative;
    vertical-align: bottom;
    top: 60%;
}
.word{

   position: relative;
    width: 60%;
    height: 5%;
    margin-left: 20%;
    vertical-align: top;
    border: none;
    background-color:#F3F5FC;
    font-size: 2vw;
    color: #0A3871;
    outline: none;
    text-transform: lowercase;
}

.clear{
    font-size: 10px;
    color: red;
    margin-left:25%;
}
.warning{
    margin-left: 2%;
    font-size: 0.8em;
    margin-top: 30%;
    color: #495057;
}

.buttons {
    display: flex;
    width: 80%;
    margin-top: 0;
    
}


.encrypter{
    border-radius: 15px;
    background-color: #0A3871;
    color: #F3F5FC;
    width: 340px;
    height: 67px;
    margin-right: 12px;

}

.decrypter{
    border-radius: 15px;
    background-color: #D8DFE8F3;
    color: #0A3871;
    width: 340px;
    height: 67px;
    margin-left: 12px;
}

.output{
    height: 90%;
    width: 400px;
    color: black;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 5%;
    box-shadow:  5px 5px 5px 5px  #a9a9ac;

}

.draw{
    display: flex;
    width: 80%;
    align-items: center;
    margin-top: 50%;
    
}

.title{
    text-align: center;
    font-size: 1.5em;
    
}

.advice{
    text-align:center;
    font-size: 1.3em;


}

.word2{

    position: relative;
     width: 60%;
     height: auto;
     margin-left: 20%;
     vertical-align: top;
     margin-top: 5%;
     border: none;
     background-color:white;
     font-size: 28px;
     color: black;
     outline: none;
     text-transform: lowercase;
 }

 .button{

        display: flex;
        width: 100%;
        margin: 5%;
        justify-content: center;


 }

 .copy{
    border-radius: 15px;
    background-color: white;
    color: #0A3871;
    width: 60%;
    height: 67px;
    border: #0A3871 solid 1px;

}

/*Estilos para versión de tablet*/

@media   (max-width: 1101px)  {

    section .entry{
        display: flex;
        height: 30px;  
        
     }

     .word{

        position: relative;
         width: 60%;
         height: 2%;
         margin-left: 20%;
         vertical-align: top;
         border: none;
         background-color:#F3F5FC;
         font-size: 32px;
         color: #0A3871;
         outline: none;
         text-transform: lowercase;
        
     }

     .clear{
        font-size: 1em;
        color: red;
        margin-left:25%;
    }
     

     .container{

       position: relative;
        padding: 0px;
        margin-bottom:2px;
        
       
    }
    
     .warning{
        margin-left: 2%;
        font-size: 1em;
        color: #495057;
    }
    

    .buttons {
        display: flex;
        width: 80%;
        margin-bottom: 10%;
        margin-top: 0;
        
    }
    
    .encrypter{
        border-radius: 15px;
        background-color: #0A3871;
        color: #F3F5FC;
        width: 50%;
        height: 67px;
        margin-right: 12px;
    
    }
    
    .decrypter{
        border-radius: 15px;
        background-color: #F3F5FC;
        color: #0A3871;
        width: 50%;
        height: 67px;
        margin-left: 12px;
    }

    .output{
        display: inline-block;
        height: 80%;
        width: 60%;
        color: black;
        background-color: white;
        border-radius: 10px;
        box-shadow:  5px 5px 5px 5px  #a9a9ac;

        
    
    }

    .draw{
        display: none;
        margin: 0px;
    }

    .word2{

        position: relative;
         width: 60%;
         height: auto;
         margin-left: 40%;
         vertical-align: top;
         margin-top: 5%;
         border: none;
         background-color:white;
         font-size: 2em;
         color: black;
         outline: none;
         text-transform: lowercase;
     }
    
    
    .button{

        display: flex;
        width: 100%;
        margin: 30px;
        
        justify-content: center;

 }

    
  }

  /*Estilos para versión de smartphone*/

@media   (max-width: 550px)  {

    
    

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 10%;
        margin-top: 0;
        
    }

    .encrypter{
        border-radius: 15px;
        background-color: #0A3871;
        color: #F3F5FC;
        width: 50%;
        height: 67px;
        margin-bottom: 4%;
       margin-left: 0;
    
    }
    
    .decrypter{
        border-radius: 15px;
        background-color: #F3F5FC;
        color: #0A3871;
        width: 50%;
        height: 67px;

       
        
       
    }

    .word2{

        position: relative;
         width: 80%;
         height: auto;
         margin-left: 15%;
         vertical-align: top;
         margin-top: 5%;
         border: none;
         background-color:white;
         font-size: 2em;
         color: black;
         outline: none;
         text-transform: lowercase;
     }


    .button{

        display: flex;
        width: 100%;
        margin: 2%;
        justify-content: center;


 }

    
    
 }

    
  